@model ITCenterBack.ViewModels.AddTeacherViewModel
@{
	Layout = "/Views/Shared/_AdminLayout.cshtml";
	ViewBag.Title = "Добавить преподавателя";
}

<div class="admin-page__content">
	<div class="admin-page__content-form">
		<div class="admin-form">
			<div class="admin-form__item">
				<h2 class="heading">Преподавателя </h2>
			</div>

			@using (Html.BeginForm("AddTeacher", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
			{
				<div class="admin-form__item">
					<label class="input__label">
						Введите Имя преподавателя <hr />
						@Html.EditorFor(model => model.Name)
					</label>
					<hr />
					<label class="input__label">
						Ссылка на преподавателя на сайте факультета <hr />
						@Html.EditorFor(model => model.Link)
					</label>
					<hr />
					<label class="input__label">
						Курсы преподавателя
					</label>
					@foreach (var t in Model.Courses)
					{
						<div>
							<input type="checkbox" id="contact__course-input" value="@t.Id" name="courses">
							<label for="contact__course-input">@t.Name (@t.Age)</label>
						</div>
					}
					<hr />
					<label class="input__label">
						Изображение преподавателя <hr />
						<div class="editor-field">
							<input type="file" name="uploadedFile" accept="image/png, image/jpeg, image/gif, image/bmp" />
						</div>
					</label>
				</div>

				<div class="admin-form__item buttons">
					<input class="primary-button" type="submit" value="Добавить" />
				</div>
			}

			<div class="admin-form__item buttons">
				<a class="secondary-button" href=@Url.Content("/api/Admin/Teachers")>Отмена</a>
			</div>
			<div class="admin-form__item"></div>
			<div class="admin-form__item"></div>
		</div>
	</div>
</div>