@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model List<ITCenterBack.ViewModels.CourseViewModel>
@{
	Layout = "/Views/Shared/_AdminLayout.cshtml";
	ViewBag.Title = "Курсы";
}

<div class="admin-page__content">
	<div class="admin-page__content-form">
		<div class="admin-form">
			<div class="admin-form__item">
				<h2 class="heading">Преподаватели</h2>
			</div>
			<a class="secondary-button" href=@Url.Content("/api/Admin/AddCourse")>Добавить</a>
			<table>
				<colgroup id="a" span="5"></colgroup>
				<thead>
					<tr>
						<th>Картинка</th>
						<th>Название</th>
						<th>Возраст</th>
						<th>Требования</th>
						<th>Описание</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var t in Model)
					{
						<tr>
							<td> <img src=@t.Image alt="images"></td>
							<td>@t.Name</td>
							<td>@t.Age</td>
							<td>@t.Requirements</td>
							<td>@string.Concat((@t.Description).AsSpan(0, 90), "...")</td>
							<td>
								<a asp-action="DeleteCourse" asp-route-id="@t.Id" class="file-button" type="file">Удалить</a>
								<a asp-action="UpdateCourse" asp-route-id="@t.Id" class="file-button" type="file">Редактировать</a>
							</td>
						</tr>
					}

				</tbody>
			</table>

			<div class="admin-form__item"></div>
			<div class="admin-form__item"></div>
		</div>
	</div>
</div>
