@using ITCenterBack.Models;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model ITCenterBack.ViewModels.NewsViewModel
@{
	Layout = "/Views/Shared/_AdminLayout.cshtml";
	ViewBag.Title = "Изменить новость";
}

<div class="admin-page__content">
	<div class="admin-page__content-form">
		<div class="admin-form">
			<div class="admin-form__item">
				<h2 class="heading">Добавить квадрат </h2>
			</div>
			@using (Html.BeginForm("UpdateNews", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
			{
				@Html.HiddenFor(model => model.Id)
				@Html.HiddenFor(model => model.PublicationDate)

				<div class="admin-form__item">
					<label class="input__label">
						Введите заголовок <br />
						@Html.EditorFor(model => model.Title) <hr />
					</label>
					<label class="input__label">
						Введите текст превью <hr />
						@Html.EditorFor(model => model.ShortText)
					</label>
					<label class="input__label">
						Изображение<hr />
						<img src=@Model.Image alt="images">
						@Html.HiddenFor(model => model.Image)
						Обновить изображение
						<div class="editor-field">
							<input type="file" name="uploadedFile" accept="image/png, image/jpeg, image/gif, image/bmp" />
						</div>
					</label>
					<label class="input__label">
						<br></br>
						Текст <hr />
						@Html.TextAreaFor(model => model.Text)
					</label>
				</div>

				<div class="admin-form__item buttons">
					<input class="primary-button" type="submit" value="Сохранить" />
				</div>
			}

			<div class="admin-form__item buttons">
				<a class="secondary-button" href=@Url.Content("/api/Admin/Courses")>Отмена</a>
			</div>
			<div class="admin-form__item"></div>
			<div class="admin-form__item"></div>
		</div>
	</div>
</div>