@model ITCenterBack.ViewModels.ApplicationDetailsViewModel
@{
	Layout = "/Views/Shared/_AdminLayout.cshtml";
	ViewBag.Title = "Подробности заявки";
}

<div class="admin-page__content">
	<div class="admin-page__content-form">
		<div class="admin-form">
			<div class="admin-form__item">
				<h2 class="heading">Подробности</h2>
			</div>
			<div class="admin-form__item">
				<label class="input__label">
					ФИО: <br />
					<br />
					@Model.ListenerFullName <hr />
				</label>
				<label class="input__label">
					Школа:<br />
					<br />
					@Model.SchoolName <hr />
				</label>
				<label class="input__label">
					Класс: <br />
					<br />
					@Model.Class <hr />
				</label>
				<label class="input__label">
					Телефон представителя:<br />
					<br />
					@Model.RepresentativePhoneNumber <hr />
				</label>
				<label class="input__label">
					ФИО представителя:<br />
					<br />
					@Model.RepresentativeFullName <hr />
				</label>
				<label class="input__label">
					Курсы:<br />
					<br />
					@foreach(var course in Model.Courses)
					{
						@if(course is not null)
						{
							@course
							;
							<br />
						}
					}
					<hr />
				</label>
				@if (Model.DayTime.Count != 0)
				{
					<label class="input__label">
						Время записи:<br />
						<br />
						@foreach (var time in Model.DayTime)
						{
							@if(time is not null)
							{
								<p>Время: @time.TimeFrom.TimeOfDay - @time.TimeTo.TimeOfDay</p>
								<p>День: @time.Day</p>
							}
						}
						<hr />
					</label>
				}
				<label class="input__label">
					Дата отправки:<br />
					<br />
					@Model.Time <hr />
				</label>
			</div>

			@using (Html.BeginForm())
			{
				@Html.AntiForgeryToken()
				<div class="form-actions no-color">
					@*<input type="submit" value="Удалить" class="file-button" />
					|*@
					@Html.ActionLink("Назад", "Applications")
				</div>
			}

			<div class="admin-form__item"></div>
			<div class="admin-form__item"></div>
		</div>
	</div>
</div>
